# Auto detect text files and normalize to LF on checkout
* text=auto

# Handle line endings for specific file types
*.css     text eol=lf
*.js      text eol=lf
*.html    text eol=lf
*.txt     text eol=lf
